.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  color: var(--clr-primary-900);
}
.logo,
.actions > *,
.moms_choice {
  cursor: pointer;
}
.moms_choice {
  display: none;
}
.actions {
  display: flex;
  align-items: center;
  gap: var(--navbar-gap);
}
.logo {
  text-align: center;
  line-height: 2rem;
}
.logo h1 {
  font-size: 28px;
  color: var(--clr-primary-900);
}
.logo h1:nth-child(2) {
  font-size: 24px;
  color: var(--clr-accent-100);
}

@media (min-width: 1024px) {
  .logo h1 {
    font-size: 40px;
  }
  .logo h1:nth-child(2) {
    font-size: 35px;
  }
  .moms_choice {
    display: inline;
    font-size: var(--fs-350);
  }
}
