.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  color: var(--clr-primary-900);
}
.moms_choice {
  /* display: none; */
}
.actions {
  display: flex;
  align-items: center;
}
.logo h1 {
  color: var(--clr-primary-900);
}
.logo h1:nth-child(2) {
  color: var(--clr-accent-100);
}
