.container {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: var(--ff-secondary);
}

.container h5 {
  color: var(--clr-primary-700);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  line-height: 1rem;
}
.container h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  white-space: pre-wrap;
  text-align: center;
  line-height: 1.5rem;
  color: var(--clr-primary-900);
}

.cube {
  width: 10px;
  height: 10px;
  rotate: 45deg;
  background-color: var(--clr-primary-700);
}

@media (min-width: 1024px) {
  .container {
    width: fit-content;
  }
  .container h5 {
    font-size: var(--fs-350);
  }
  .container h3 {
    line-height: 3rem;
    font-size: var(--fs-500);
  }
}
