.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}
.wrapper .parallax_img {
  display: none;
  position: absolute;
  transition: translate 0.5s ease-in-out;
}
.wrapper img[alt="bowl of grains"] {
  width: clamp(20rem, 1vw, 30rem);
}
.wrapper img[alt="CUAlmond"] {
  width: 2rem;
}
.wrapper img[alt="CUPista"] {
  width: 2rem;
}
.wrapper img[alt="CUHasle"] {
  right: 12rem;
  top: 13rem;
  width: 1.5rem;
}
.pagination {
  display: none;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: url("../public/Assets/Dot\ Grid\ Pattern.svg");
  background-position: center;
  width: var(--home-page-padding);
  height: var(--home-page-height);
  border: 1px solid #000;
  color: var(--clr-primary-900);
}
.main .page {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: var(--fs-body);
}
.main .intro {
  line-height: 4rem;
}
.intro h2 {
  inline-size: clamp(200px, 50vw, 800px);
  overflow-wrap: break-word;
  font-family: var(--ff-ph);
  font-size: var(--fs-primary-headings);
  font-weight: var(--fw-bold);
}

.page .founders_note {
  font-family: var(--ff-primary);
  line-height: var(--founders-note-line-height);
  text-align: justify;
}
.page .contact_us {
  text-align: center;
}
.page .contact_us p:first-child {
  font-family: var(--ff-primary);
}
.STD {
  /*Scroll to discover*/
  position: sticky;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: var(--clr-primary-700);
  font-size: var(--fs-150);
}

@media (min-width: 1025px) {
  .main .page {
    flex-direction: row;
    padding: 2rem 8rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .main .intro {
    padding: 8rem;
    line-height: 6rem;
    width: 100%;
  }
  .wrapper img {
    transition: translate 0s ease-in-out;
  }
  .wrapper img[alt="bowl of grains"] {
    right: -23rem;
    width: 60rem;
  }
  .wrapper img[alt="CUAlmond"] {
    right: 50vw;
    top: 32vh;
    width: 8.8rem;
  }
  .wrapper img[alt="CUPista"] {
    right: 15rem;
    top: 16.5rem;
    width: 8.8rem;
  }
  .wrapper img[alt="CUHasle"] {
    right: 31rem;
    top: 27rem;
    width: 8.8rem;
  }
  .page .contact_us {
    font-size: var(--fs-600);
  }
  .pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32px;
    height: 60vh;
    position: absolute;
    top: 165px;
    left: 60px;
  }
  .pagination .page_dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--clr-primary-800);
    transform-origin: center center;
    transition: width 0.3s, height 0.3s linear;
    pointer-events: all;
    cursor: pointer;
  }

  .pagination .page_dot.active {
    width: 25px;
    height: 25px;
  }
}
