.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* pointer-events: none; */
}
.wrapper .parallax_img {
  position: absolute;
  transition: translate 1.4s cubic-bezier(0.075, 0.82, 0.165, 1), rotate 0.8s,
    translateX 0s;
}

.wrapper img[alt="bowl of grains"] {
  right: -45%;
  bottom: -30%;
  width: clamp(20rem, 1vw, 30rem);
}

.pagination {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 32px;
  height: 60vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5%;
  display: none;
  z-index: 10;
}

.main {
  position: absolute;
  top: 53%;
  left: 50%;
  translate: -50% -50%;
  background-image: url("../public/Assets/Dot\ Grid\ Pattern.svg");
  background-position: center;
  width: var(--home-page-padding);
  height: var(--home-page-height);
  color: var(--clr-primary-900);
}
.page,
.prop {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: var(--fs-body);
  pointer-events: none;
}
.intro {
  line-height: 4rem;
  transition: transform 1.2s cubic-bezier(0.72, 0.67, 0.18, 0.93);
}
.intro h2 {
  position: inherit;
  top: 15%;
  left: 15%;
  inline-size: clamp(200px, 50vw, 800px);
  overflow-wrap: break-word;
  font-family: var(--ff-ph);
  font-size: var(--fs-primary-headings);
  font-weight: var(--fw-bold);
}
.page.title {
  line-height: 4rem;
  transition: transform 1.2s cubic-bezier(0.72, 0.67, 0.18, 0.93);
}
.page.productImg {
  transition: transform 2s cubic-bezier(0.72, 0.67, 0.18, 0.93);
  z-index: 10;
}
.prop.propImg1,
.prop.propImg2,
.prop.propImg3,
.prop.propImg4,
.prop.propImg5,
.prop.propImg6 {
  display: block;
  position: absolute;
}
.prop.propImg1 {
  transition: transform 3s cubic-bezier(0.72, 0.67, 0.18, 0.93);
}
.prop.propImg2 {
  transition: transform 2.5s cubic-bezier(0.72, 0.67, 0.18, 0.93);
}
.prop.propImg3 {
  transition: transform 1.8s cubic-bezier(0.72, 0.67, 0.18, 0.93);
  z-index: 15;
}
.prop.propImg4 {
  transition: transform 1.5s cubic-bezier(0.72, 0.67, 0.18, 0.93);
  z-index: 15;
}
.prop.propImg5 {
  transition: transform 2s cubic-bezier(0.72, 0.67, 0.18, 0.93);
  z-index: 15;
}
.prop.propImg6 {
  transition: transform 2.3s cubic-bezier(0.72, 0.67, 0.18, 0.93);
  z-index: 15;
}
.prop img {
  height: fit-content;
  width: fit-content;
}
.prop.propImg1 img {
  width: clamp(13rem, 30vw, 25rem);
}
.prop.propImg2 img {
  width: clamp(10rem, 30vw, 20rem);
}
.prop.propImg3 img {
  width: clamp(12rem, 40vw, 25rem);
}
.prop.propImg4 img {
  width: clamp(7rem, 18vw, 15rem);
}
.prop.propImg5 img {
  width: clamp(4rem, 20vw, 15rem);
}
.prop.propImg6 img {
  width: clamp(5rem, 20vw, 20rem);
}
.page.productImg img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  margin-inline: auto;
  width: clamp(13rem, 40vw, 30rem);
}
.page.productImg img[alt="nut and seeds powder"] {
  bottom: 25%;
}
.redRiceProps .prop.propImg1 img {
  left: 50%;
  bottom: 10%;
}
.redRiceProps .prop.propImg2 img {
  right: -1rem;
  top: 0%;
}
.redRiceProps .prop.propImg3 img {
  left: 4%;
  bottom: 10%;
  rotate: -15deg;
}
.nutPowderProps .prop.propImg1 img {
  right: 5%;
  bottom: 15%;
}
.nutPowderProps .prop.propImg2 img {
  left: 2%;
  bottom: 15%;
}
.nutPowderProps .prop.propImg3 img {
  right: 2%;
  bottom: 50%;
  width: clamp(8rem, 30vw, 15rem);
}
.nutPowderProps .prop.propImg4 img {
  left: 10%;
  top: 30%;
}
.nutPowderProps .prop.propImg5 img {
  right: 2%;
  top: 15%;
}
.nutPowderProps .prop.propImg6 img {
  left: 2%;
  bottom: 5%;
}

.page .founders_note {
  font-family: var(--ff-primary);
  line-height: var(--founders-note-line-height);
  text-align: justify;
}
.page .contact_us {
  text-align: center;
}
.page .contact_us p:first-child {
  font-family: var(--ff-primary);
}
.STD {
  /*Scroll to discover*/
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: var(--clr-primary-700);
  font-size: var(--fs-150);
}

@media (min-width: 1025px) {
  .page {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .intro {
    line-height: 6rem;
    width: 100%;
  }
  .intro h2 {
    top: 20%;
  }

  .wrapper img[alt="bowl of grains"] {
    width: 60rem;
  }
  .wrapper img[alt="CUAlmond"] {
    right: 50vw;
    top: 32vh;
    width: 8.8rem;
  }
  .wrapper img[alt="CUPista"] {
    right: 15rem;
    top: 16.5rem;
    width: 8.8rem;
  }
  .wrapper img[alt="CUHasle"] {
    right: 31rem;
    top: 27rem;
    width: 8.8rem;
  }
  .page .contact_us {
    font-size: var(--fs-600);
  }
  .pagination {
    display: flex;
  }
  .pagination .page_dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--clr-primary-800);
    transform-origin: center center;
    transition: 0.2s linear;
    cursor: pointer;
  }

  .pagination .page_dot.active {
    width: 25px;
    height: 25px;
  }
}
